<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d3e29648aa4b854cb5e80aa9541e054:f6b1e4b3b32466b127fb1e9164f355d8:fccff1919886555af3d3bfca9bc72c41$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>StarOnTile.1.png</string>
                <key>size</key>
                <string>{212,252}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>04.png</string>
                        <key>spriteOffset</key>
                        <string>{9,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{70,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>12.png</string>
                        <key>spriteOffset</key>
                        <string>{9,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{70,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>08.png</string>
                        <key>spriteOffset</key>
                        <string>{11,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,85},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>07.png</string>
                        <key>spriteOffset</key>
                        <string>{11,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,169},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>09.png</string>
                        <key>spriteOffset</key>
                        <string>{11,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,169},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>06.png</string>
                        <key>spriteOffset</key>
                        <string>{10,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{73,1},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>10.png</string>
                        <key>spriteOffset</key>
                        <string>{10,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{73,1},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>05.png</string>
                        <key>spriteOffset</key>
                        <string>{10,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{143,1},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>11.png</string>
                        <key>spriteOffset</key>
                        <string>{10,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{143,1},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>03.png</string>
                        <key>spriteOffset</key>
                        <string>{11,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{71,85},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>13.png</string>
                        <key>spriteOffset</key>
                        <string>{11,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{71,85},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>02.png</string>
                        <key>spriteOffset</key>
                        <string>{10,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{71,169},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>14.png</string>
                        <key>spriteOffset</key>
                        <string>{10,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{71,169},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>01.png</string>
                        <key>spriteOffset</key>
                        <string>{9,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{141,85},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>15.png</string>
                        <key>spriteOffset</key>
                        <string>{9,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{141,85},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>00.png</string>
                        <key>spriteOffset</key>
                        <string>{9,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{141,169},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>16.png</string>
                        <key>spriteOffset</key>
                        <string>{9,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{141,169},{68,82}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
