<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb00ccf07217f433aeb36ae0d792d98d:966c59d982ff5f8b4d5a60708e6f7ea0:4551fad724594ad92b09024003f73279$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>LittleJohnWalk.1.png</string>
                <key>size</key>
                <string>{500,112}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BDownStill.png</string>
                        <key>spriteOffset</key>
                        <string>{0,22}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{88,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BDownBlink.png</string>
                        <key>spriteOffset</key>
                        <string>{0,22}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{91,1},{88,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BDown02.png</string>
                        <key>spriteOffset</key>
                        <string>{0,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{181,1},{88,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BDown01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{271,1},{88,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BUpStill.png</string>
                        <key>spriteOffset</key>
                        <string>{0,22}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{361,1},{86,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BRight02.png</string>
                        <key>spriteOffset</key>
                        <string>{19,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{449,1},{50,88}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BRight01.png</string>
                        <key>spriteOffset</key>
                        <string>{19,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,57},{88,50}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BLeft02.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{91,57},{88,50}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BLeft01.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{181,57},{88,50}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BUp02.png</string>
                        <key>spriteOffset</key>
                        <string>{0,21}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{271,57},{86,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BUp01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,21}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{359,57},{86,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
