<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88ce68474392a859bb5ff8912a321b6f:56a831f4bc672232e640534b469992b8:dcf1751d629ca25fb49edae1ec0e589f$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>animations.1.png</string>
                <key>size</key>
                <string>{208,252}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ARight02.png</string>
                        <key>spriteOffset</key>
                        <string>{4,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{88,70}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ARight01.png</string>
                        <key>spriteOffset</key>
                        <string>{5,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{91,1},{88,70}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ALeft01.png</string>
                        <key>spriteOffset</key>
                        <string>{18,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,73},{66,88}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ALeft02.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{1,163},{62,88}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>AUp01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{65,163},{70,86}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>AUp02.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{69,73},{68,86}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ADown02.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{139,73},{68,84}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ADown01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,88}</string>
                        <key>textureRect</key>
                        <string>{{139,159},{68,82}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
